/* 	Copyright Adam Gedney 1/9/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/* Modular Scale 
---------------------- 
16px @ 1:3	  
----------------------*/


/*----Sass Palette----*/
$black: #000000;
$grey: #b9b9b9;
$mid-grey: #929292;
$dark-grey: #333333;
$bg-white: #efefef;
$white: #ffffff;
$blue: #205878;
$green: #00661b;
$red: #eb2733;


/*----Sass imports----*/
@import "reset";
@import "defaults";



/*-----12 col grid------*/

@mixin col($num_col){

	@if $num_col == 1 {
		width: 8.33333333%;
		}
	@if $num_col == 2 {
		width: 16.6666667%;
		}
	@if $num_col == 3 {
		width: 25%;
		}
	@if  $num_col == 4 {
		width: 33.3333333%;
		}
	@if $num_col == 5 {
		width: 41.6666666%;
		}
	@if $num_col == 6 {
		width: 50%;
		}
	@if $num_col == 7 {
		width: 58.3333333%;
		}
	@if $num_col == 8 {
		width: 66.6666666%;
		}
	@if $num_col == 9 {
		width: 75%;
		}
	@if $num_col == 10{
		width: 83.3333333%;
		}
	@if $num_col == 11 {
		width: 91.6666666%;
		}
	@if $num_col == 12 {
		width: 100%;
	}
}

// @include col(12);

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*------------------- Start Header -----------------*/



header{
	height: 72px;
	@include col(12);
	background: $dark-grey;
	padding: 0 36px;
	overflow: hidden;

	img{
		padding-top: 9px;
	}

	a.state{
		float: right;
		color: $white;
		font-size: 1.6em;
		padding: 24px 18px 0 21px;
		font-family: "ai_kelsol", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	}
}

nav{
	// width: 400px;
	float: right;
	padding-top: 24px;
	font-family: "ai_kelsol", "Helvetica Neue Light", Helvetica, Arial, sans-serif;

	ul{
		li{
			display: inline-block;
			padding-left: 18px;

			a{
				color: $white;
			}
		}
	}
}

.login_popup{
	background: $black;
	position: absolute;
	z-index: 9999;
	height: 225px;
	width: 200px;
	right: 0;
	top: 0;
	margin: 72px 36px 0 0;
	border-radius: 2px;

	h2{
		color: $grey;
		margin: 9px;
		font-size: 2.1em;
	}

	li{
		background: $blue;
		text-align: center;
		line-height: 36px;
		border-top: 1px solid $dark-grey;
		width: 182px;
		margin: 0 auto 6px;
		border-radius: 2px;

		a{
			color: $white;
		}
	}

	li:hover{
		opacity: .5;
	}

	li:last-child{
		border-bottom: 1px solid $dark-grey;
	}
}

.login_popup:before{
	content: "";
	width: 20px;
	height: 20px;
	background: $black;
	position: absolute;
	top: 0;
	margin-top: -10px;
	margin-left: 152px;
		transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
-webkit-transform:rotate(45deg); /* Safari and Chrome */
}







/*------------------- End Header / Start Page -----------------*/

.page{
	@include col(12);
	// height: 750px - 72px;/*page - header = 678px*/
	background: $black;
	position: relative;
}

.video_wrapper{
	@include col(12);
	height: 678px; //required to hold absolute positioned elements below video
	position: relative;

	object#higley_wigley{
		position: relative;
		left: -8%;
	}
}

.video{
	@include col(12);
	// height: 678px - 72px;/*page - transport = 606px*/
	position: absolute;
	top: 0;
	left: 0;
	overflow: none;

	// .poster{
	// 	width: 960px;
	// 	// @include col(9);
	// 	max-height: 100%;
	// 	margin: 0 auto;
	// }
}

.stop_rec_modal{
	width: 200px;
	height: 150px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 44.2%;
	background: $red;
	opacity: .6;
	border-radius: 2px;
	text-align: center;

	a{
		display: inline-block;
		margin-top: 24px;
		color: $white;
		font-size: 1.6em;
	}
}

#seek_bar{
	height: 18px;
	width: 100%;
	background: rgba(255,255,255, .8);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	margin: 0 0 72px 0;
}

#seek_bar_inner{
	@include col(8);
	margin: 0 auto;
	height: 18px;
	// border-left: 1px solid $red;
	// border-right: 1px solid $red;
}

#seek_bar_scrub{
	background: $red;
	width: 18px;
	height: 18px;
	border-radius: 10px;
}

.transport{
	@include col(12);
	height: 72px;
	background: $dark-grey;
	position: absolute;
	bottom: 0;
	left: 0;
}

.transport_inner{
	// width: 920px;
	@include col(8);
	margin: 0 auto;
	// overflow: hidden;
	position: relative;

	img{
		// line-height: 42px;
		vertical-align: middle;
		padding-top: 6px;

		:hover{
			opacity: .7;
		}
	}


	input[type=range]{
		margin-top: 30px;
		width: 125px;
	}

	//transport 3 col
	.col_3{
		@include col(4);
		float: left;
	}
}

#play_btn, #pause_btn{
	margin-top: 3px;
	float: left;
}

#fav_btn, #fav_checked_btn{
	width: 30px;
	margin: 15px 50%;
}

.speaker{
	width: 27px;
	height: 27px;
	margin: 0 0 15px 18px;
}

#rec_btn, #camera_btn, #mic_btn{
	float: right;
	margin-left: 18px;
	margin-top: 12px;
}

#camera_btn{
	margin-top: 18px;
}

#rec_btn{
	margin-top: 15px;
}

.transport_popup{
	background: $dark-grey;
	opacity: .98;
	position: absolute;
	height: 225px;
	width: 200px;
	right: 0;
	bottom: 0;
	margin: 0 -20px 65px 0;
	border-radius: 2px;
	padding: 9px;
	font-family: "ai_kelsol", "Helvetica Neue Light", Helvetica, Arial, sans-serif;

	h2{
		color: $white;
		font-size: 1.8em;
		border-bottom: 1px solid $grey;
		margin-bottom: 15px;
	}

	ul{
		li{
			list-style-type: disc;
			color: $white;
			margin-left: 18px;

			a{
				font-size: .9em;
				color: $grey;
				font-weight: 700;
			}
		}
	}
}


.rec_select{

	h2{
		margin-bottom: 3px;
		border-bottom: none;
	}

	input, textarea, select{
		width: 184px;
		padding: 3px;
		font-size: .95em;
		line-height: .8;
		outline: none;
		font-family: "Merriweather", "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	}

	input, select{
		height: 30px;
	}

	select{
		-webkit-appearance: none;
		margin-top: 3px;
		border-radius: 2;
		line-height: 27px;
		font-family: "ai_kelsol", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
		color: $mid-grey;
		font-size: 1.4em;
	}

	textarea{
		height: 60px;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	input[type=submit]{
		background: $red;
		font-weight: 700;
	}
}

img.drop{
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	height: 15px;
	margin-top: 70px;
	margin-right: 9px;

}












.body_nav{
	@include col(12);
	height: 90px;
	background: $white;
	opacity: .9;

	nav{
		float: none;
		width: 504px;
		// @include col(5);
		margin: 0 auto;
		padding-top: 32px;
		ul{
			li{
				padding-left: 108px;

				a{
					color: $blue;
					font-size: 1.4em;
				}
			}

			li:first-child{
				padding-left: 0;
				padding-right: 33px;
			}

		}
	}
}

ul li ul.sub_list{
	position: absolute;
	z-index: 999;opacity: .95;
	max-width: 400px;
	font-size: .8em;
	// min-height: 350px;
	max-height: 500px;
	background: $dark-grey;
	padding-top: 24px;
	border-radius: 2px;
	margin-top: 18px;
	padding: 18px;

	li, li:first-child{
		width: 150px;
		display: inline-block;
		line-height: 24px;
		padding-left: 0;
		padding: 6px;
		margin-left: -3px;

		a{
			color: $bg-white;
		}
	}

}

ul li ul.sub_list:before{
	content: "";
	width: 20px;
	height: 20px;
	background: $dark-grey;
	position: absolute;
	top: 0;
	margin-top: -10px;
	margin-left: 12px;
		transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
-webkit-transform:rotate(45deg); /* Safari and Chrome */
}







.desc{
	// height: 360px;
	border-bottom: 1px solid $grey;
	padding: 72px 36px 0;
	overflow: hidden;

	h1{
		display: inline-block;
		margin-right: 36px;
	}
}

p.time{
	display: inline-block;
}

p.desc_copy{
	// width: 501px;
	@include col(5);
	margin-top: 15px;
	float: left;
	padding-bottom: 72px;
}

.desc_gallery{
	float: right;
	margin-right: 18px;
	margin-top: 18px;
	@include col(6);

	img{
		// margin-right: 81px;
		margin-left: 2%;
		border-radius: 107px;
	}
}












.content_container{
	min-height: 750px;
	overflow: hidden;
	margin-top: 90px;
}












.comments_container{
	@include col(6);
	float: left;
	padding-left: 36px;
	// border-right: 1px solid $grey;

	textarea{
		-webkit-appearance: none;
		appearance: none;
		border: 0;
		border-radius: 2px;
		border: 1px solid $grey;
		// width: 471px;
		@include col(9);
		height: 96px;
		padding: 9px;
		display: block;
		font-family: "Merriweather", "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
		font-size: 1.4em;
		margin-top: 18px;
		outline: none;
	}

	input[type=submit]{
		// width: 471px;
		@include col(9);
		height: 45px;
		margin-top: 9px;
		margin-bottom: 36px;
		font-size: 2.1em;
	}
}

.comments_wrapper{
	height: 650px;
	overflow: scroll;
}

.comment{
	margin-top: 36px;

	img{
		border-radius: 27px;
		// margin-bottom: -15px;
	}

	h2{
		display: inline;
		margin-left: 9px;
	}

	h3{
		display: inline;
		margin-left: 18px;
		font-size: 1.4em;
	}

	p{
		// width: 471px;
		@include col(9);
		margin-top: 6px;
		// margin-left: 66px;
		padding-bottom: 18px;
		border-bottom: 1px solid $grey;
	}
}













.lessons_container{
	@include col(6);
	float: right;
	padding-left: 18px;
	padding-right: 36px;
	overflow: hidden;
}

.lesson{
	margin-top: 36px;

	img{
		float: left;
		margin-right: 9px;
	}

	h2{
		display: inline-block;
		margin-bottom: 16px;
	}

	h3{
		display: inline;
		margin-left: 18px;
	}

	p{
		padding-bottom: 18px;
		border-bottom: 1px solid $grey;
	}
}













footer{
	height: 249px;
	background: $white;
	// margin-top: 108px;
	p{
		text-align: center;
		padding-top: 124px;
	}
}







/*---------------------------Logged out-----------------------------*/

.fold{
	height: 681px;
	background: url(../images/bg.JPG) no-repeat;
	background-size: cover;
	// background-attachment: fixed;
	overflow: hidden;
}

.fold_copy{
	float: left;
	margin: 126px 0 0 36px;
	@include col(4);

	h1{
		margin-bottom: 18px;
	}

	p{
		// width: 429px;
		
	}
}

.fold_signup{
	float: right;
	margin: 135px 36px 0 0;
	@include col(4);

	h2{
		margin-bottom: 9px;
	}

	input{
		@include col(9);
		min-width: 230px;
		height: 45px;
		font-size: 1.6em;
		margin-top: 9px;
		padding: 6px;
		line-height: 45px;
		outline: none;
	}

	input[type=text], input[type=password]{
		border: 1px solid $grey;
	}

	input[type=submit]{
		background: $green;
		height: 51px;
		font-size: 2.1em;
		margin-top: 15px;
		line-height: 29px;
	}
}

.features{
	padding: 108px 36px;
	overflow: hidden;

	h2{
		text-align: center;
	}

	h3{
		font-size: 1.5em;
		text-align: center;
	}

	.col_3{
		// width: 33.33333%;
		@include col(4);
		float: left;
		margin-top: 72px;
		padding-right: 78px;

		img{
			@include col(9);
			margin: 0 12.5% 36px; 
			text-align: center;
		}

		h3{
			font-size: 2.7em;
			text-align: left;
			margin-bottom: 9px;
			text-align: center;
		}

		p{
			// width: 237px;
			
		}
	}
}

.desc_page{
	padding: 108px 36px;
	overflow: hidden;
	background: $dark-grey;

	h2{
		color: $bg-white;
		text-align: center;
		margin-bottom: 72px;
	}

	p{
		color: $bg-white;
		// width: 300px;
	}

	ul{
		margin: 18px 0 0 72px;

		li{
			color: $bg-white;
			list-style-image: url(../images/check.png);
		}
	}

	img{
		display: block;
		float: right;
		@include col(5);
	}
}

.desc_copy{
	float: left;
	@include col(5);

	.button{
		margin: 36px 25% 0;
	}
}

















/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {

}













/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 750px) {

}/*min-width 750*/









//adjusts header nav after JS removes slide in menu
@media only screen 
and (min-width : 769px) {


}









/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 837px) {

}



@media only screen 
and (min-width : 960px) {

}



/* Desktops ---------------------- */
@media only screen 
and (min-width : 1140px) {

}






/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}





/*----Sass imports----*/
@import "lightbox";










