/* 	Copyright Adam Gedney 1/9/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */

/*----Sass Palette----*/
$black: #000000;
$grey: #b9b9b9;
$dark-grey: #333333;
$bg-white: #efefef;
$white: #ffffff;
$blue: #205878;
$green: #00661b;
$red: #eb2733;


/*----Sass imports----*/
@import "reset";
@import "defaults";








/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {

}













/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 750px) {

}/*min-width 750*/









//adjusts header nav after JS removes slide in menu
@media only screen 
and (min-width : 769px) {


}









/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 837px) {

}



@media only screen 
and (min-width : 960px) {

}



/* Desktops ---------------------- */
@media only screen 
and (min-width : 1140px) {

}






/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}





/*----Sass imports----*/
@import "lightbox";










