/* 	Copyright Adam Gedney 1/9/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */

/*----Sass Palette----*/
$black: #000000;
$grey: #b9b9b9;
$dark-grey: #333333;
$bg-white: #efefef;
$white: #ffffff;
$blue: #205878;
$green: #00661b;
$red: #eb2733;


/*----Sass imports----*/
@import "reset";
@import "defaults";



/*------------------- Start Header -----------------*/

header{
	height: 72px;
	width: 100%;
	background: $dark-grey;
	padding: 0 18px;
	overflow: hidden;

	img{
		padding-top: 9px;
	}

	a.state{
		float: right;
		color: $white;
		font-size: 1.6em;
		padding: 24px 18px 0 21px;
		font-family: "ai_kelsol", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	}
}

nav{
	float: right;
	padding-top: 24px;
	font-family: "ai_kelsol", "Helvetica Neue Light", Helvetica, Arial, sans-serif;

	ul{
		li{
			display: inline-block;
			padding-left: 18px;

			a{
				color: $white;
			}
		}
	}
}



/*------------------- End Header / Start Page -----------------*/

.page{
	width: 100%;
	height: 750px - 72px;/*page - header = 678px*/
	background: $black;
}

.video_wrapper{
	width: 100%;
	height: 678px;
	position: relative;
}

.video{
	width: 100%;
	height: 678px - 72px;/*page - transport = 606px*/
	position: absolute;
	top: 0;
	left: 0;
}

.transport{
	width: 100%;
	height: 72px;
	background: $dark-grey;
	position: absolute;
	bottom: 0;
	left: 0;
}

.body_nav{
	width: 100%;
	height: 90px;
	background: $white;

	nav{
		float: none;
		width: 472px;
		margin: 0 auto;
		padding-top: 32px;
		ul{
			li{
				padding-left: 72px;

				a{
					color: $blue;
					font-size: 1.4em;
				}
			}
		}
	}
}

.desc{
	height: 360px;
	border-bottom: 1px solid $grey;
}

.content_container{
	min-height: 750px;
}
















/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {

}













/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 750px) {

}/*min-width 750*/









//adjusts header nav after JS removes slide in menu
@media only screen 
and (min-width : 769px) {


}









/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 837px) {

}



@media only screen 
and (min-width : 960px) {

}



/* Desktops ---------------------- */
@media only screen 
and (min-width : 1140px) {

}






/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}





/*----Sass imports----*/
@import "lightbox";










